[submodule "etc/cmake/nicemake"]
	path = etc/cmake/nicemake
	url = https://github.com/fkutzner/nicemake
[submodule "deps/GSL"]
	path = deps/GSL
	url = https://github.com/microsoft/GSL
[submodule "deps/CLI11"]
	path = deps/CLI11
	url = https://github.com/CLIUtils/CLI11
[submodule "deps/ipasir"]
	path = deps/ipasir
	url = https://github.com/biotomas/ipasir
[submodule "deps/tomlplusplus/tomlplusplus"]
	path = deps/tomlplusplus/tomlplusplus
	url = https://github.com/marzer/tomlplusplus
