[submodule "etc/cmake/nicemake"]
	path = etc/cmake/nicemake
	url = https://github.com/fkutzner/nicemake
[submodule "deps/cnf-utils"]
	path = deps/cnf-utils
	url = https://github.com/fkutzner/cnf-utils
